*{
    box-sizing: border-box;
}
.iconTitle::before{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2C3E50;
    position: absolute;
    bottom: 50%;
    left: 53%;

}
.iconTitle::after{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2C3E50;
    position: absolute;
    bottom: 50%;
    right: 53%;

}
.cardBody{
    transform: translateY(100%);
    background-color: rgba(26, 188, 156, 0.8);
    transition: transform 0.5s;
}
.card:hover .cardBody{
transform: translateY(0);
}